body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    font-size: 24px;
    text-align: center;
    animation: changeColor 2s infinite alternate; /* Animación para cambiar el color del texto */
}

/* Animación para cambiar el color del texto */
@keyframes changeColor {
    0% {
        color: red;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: orange;
    }
    100% {
        color: purple;
    }
}
